{% extends '::base.html.twig' %}
{% block title %}Itineraire|Edit{% endblock %}
{% block body -%}
    <h1>Itineraire edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('itineraire') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
