<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="ismailkomay"/>
        <meta name="author" content="ismailkomay"/>
        <title>{% block title %}Welcome{% endblock %}</title>
		{% block stylesheets %}
        {% stylesheets 'bundles/fdradmin/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
         {% block body %}{% endblock %}
         {% block javascripts %}
         {% javascripts '@FdrAdminBundle/Resources/public/js/*' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
         {% endjavascripts %}
         {% endblock %}
    
         {% block footer %}
        <footer>
            &copy; Copyright {{"now"|date('Y')}} / <a href="ctm-messagerie.ma" title="Komay">CTM Messagerie</a>.
        </footer>
        {% endblock %}
    </div>
    </body>
</html>