{% extends '::base.html.twig' %}
{% block title %}Filiale|New{% endblock %}
{% block body -%}
    <h1>Filiale creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('filiale') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
