{% extends '::base.html.twig' %}
{% block title %}Prestation|New{% endblock %}
{% block body -%}
    <h1>Prestation creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('prestation') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
